@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #AFD3E2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 10, 0.7), rgba(4, 9, 10, 0.7)),
    url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 120px;
}

.nav-links {
  margin-top: -50px;
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li :hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.plain-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.btn1 {
  display: inline-block;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid white;
  padding: 12px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn1:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}

nav .fa {
  display: none;
}

.header h3 {
  color: white;
  position: absolute;
  transform: translate(-50%);
  margin-top: 80px;
  left: 50%;
  font-weight: 100;
  font-size: 16px;
}

@media (max-width: 700px) {
  nav img {
    height: 70px;
    padding: 20px;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    margin-top: 0px;
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
  }
  .nav-links ul {
    padding: 30px;
  }

  .arrows {
    /* width: 40px;
    height: 28px; */
    bottom: 50px;
    opacity: 0.8;
  }

  .arrows path {
    stroke: #aaa;
  }

  .header h3 {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
/*-------News & Notices---------*/
.news_section{
  text-align: center;
  padding-top: 100px;
}
.news{
	background: #068DA9;
  border-radius: 10px;
  height: 430px;
  padding-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: 0.2s;
}
.news:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.news .news1 h2{
	text-align: center;
	padding: 10px;
  background: #0055a4;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.news_date{ 
	height:340px;
  display: flex;
}
.news_date i {
	color: red;
	font-size: 14px;
  padding-left: 10px;
  margin-bottom: 0px;
}
hr{
  margin: 0px;
  padding: 0px;
}
.news_date p{
  color: white;
  font-size: 14px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 0px;
}
.news_date p a{
 text-decoration: none;
 color: white;
}
.heading {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 30px;
	color: #0055a4;
}

/* -------COURSE------- */

.course {
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #ffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.cardd{
	background: #068DA9;
  border-radius: 10px;
  height: 320px;
  padding-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: 0.2s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.cardd:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .cardd{
    height: 500px;
  }
}
/*-------About-------*/
.subhead {
	font-size: 18px;
	color: red;
	font-weight: 500;
}
/* ------- campus ------- */

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-gallery {
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-gallery img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* --------facilities-------- */

.facilities {
  text-align: center;
  padding-top: 100px;
}

.facilities-a {
  border-radius: 10px;
  margin-bottom: 80px;
}

.facilities-a img {
  max-width: 100%;
  min-height: 40%;
  border-radius: 10px;
}

.facilities-a p {
  padding: 0;
}

.facilities-a h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

/* --------- Testimonials ------- */

.testimonials {
  padding-top: 100px;
  text-align: center;
}

.testimonials-a {
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #068DA9;
  height: 310px;
  padding: 35px;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  transition: 0.5s;
}
@media (max-width: 1000px) {
  .testimonials-a{
    height: auto;
  }
}

.testimonials-a img {
  margin-top: 20px;
  height: 50px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonials-a:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.testimonials-a p {
  padding: 0;
}

.testimonials-a h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonials-a .fa {
  color: #fa7e75;
}

/* ------- Gallery ------- */

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  justify-content: center;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
.gallerybtn{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.galleryBtn h1{
  padding-top: 100px;
  text-align: center;
}
.galleryBtn p{
  text-align: center;
}
.gallery{
  overflow-x: hidden;
  height: 50vh;
  margin: 15px  130px;
}
@media only screen and (max-width: 600px) {
  .gallery {
    margin: 15px 10px;
    height: 35vh;
  }
}

/* ------- Contact ------- */

.contactUs {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/students.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.contactUs h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700) {
  .contactUs h1 {
    font-size: 24px;
  }
}

/*-------placement------------*/


/* --------footer-------- */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  /* padding: 18px 0; */
  font-size: 24px;
}

.icons-blue {
  color: #3f5177;
  cursor: pointer;
  font-size: 18px;
}

/* ------------Sub header---------- */

.sub-header {
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
dl, ol, ul {
  margin-top: 50px;
  margin-bottom: 1rem;
}

.sub-header-image-1 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/banner3.jpg);
}

.sub-header-image-2 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/students.jpg);
}

.sub-header-image-3 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/background2.png);
}

.sub-header-image-4 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/contact.jpg);
}

.sub-header h1 {
  margin-top: 100px;
}



/* ------- Blog -------   */


/* --------Contact us-------- */

.location {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.location h1 {
  text-align: center;
  padding: 20px;
}

.map {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.location iframe {
  width: 100%;
  margin-bottom: -10px;
}

/* Login   */

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
